<% include partials/header.ejs %>
<div class="page-content">
    <div id="form-container">
        <div class="form-header">Напишите нам</div>
        <form id="contact-form" name="contact-form" method="post">
            <label class="name-label hidden" for="message">Введите имя</label>
            <input type="text" class="name" name="name" id="name" placeholder="Имя"/>
            <label class="email-label hidden" for="message">Введите корректный E-mail</label>
            <input type="text" class="email" name="email" id="email" placeholder="Email"/>
            <label class="message-label hidden" for="message">Введите сообщение</label>
            <textarea class="message" id="message" name="message" placeholder="Сообщение"></textarea>
            <button type="button" class="submit-button">Отправить</button>
        </form>
    </div>
</div>
</body>
</html>
