<% include partials/header.ejs %>
<div class="slider-wrapper">
    <div class="slider owl-carousel">
        <% data.sliderItems.forEach((sliderItem, index) => { %>
        <div class="slider-item">
            <img class="slider-image" src="<%- sliderItem.imageLink %>" />
            <a href="/catalog/<%- sliderItem.link %>" class="btn btn-lg btn-info more-button">Подробнее</a>
        </div>
        <% }) %>
    </div>
</div>
<div class="separator"></div>
<div class="catalog-wrapper">
    <% data.games.forEach((game, index) => { %>
    <div class="catalog-item">
        <div class="content-wrapper">
            <div class="item-title"><%- game.title %></div>
            <img class="catalog-item-image" src="<%- game.image %>"/>
            <a href="/catalog/<%- game.link %>" class="btn btn-lg btn-success catalog-item-more">Подробнее</a>
        </div>
    </div>
    <% }) %>
</div>
</div>
</body>
</html>