<% include partials/header.ejs %>
<div class="page-content">
    <div class="game-title"><%- details.title %></div>
    <img class="game-image" src="<%- details.image %>" />
    <%- details.description %>
</div>
</body>
</html>
