.navigation {
    background: #f1f6f7;
    -moz-box-shadow: inset 0 -32px 32px -32px rgba(61, 75, 82, .16);
    -webkit-box-shadow: inset 0 -32px 32px -32px rgba(61, 75, 82, .16);
    box-shadow: inset 0 -32px 32px -32px rgba(61, 75, 82, .16);
    display: flex;
    height: 48px;
}

.nav-item {
    padding: 0 16px;
    color: #6e858a;
    text-decoration: none;
    white-space: nowrap;
    display: flex;
    align-items: center;
    position: relative;
}

.nav-item:hover {
    text-decoration: none;
    color: #ff6634;
    background-color: #e1e6e7;
}

.slider-wrapper {
    width: 100%;
}

.slider-item {
    display: flex;
    width: 100vw;
    height: 450px;
    justify-content: center;
}

.slider-image {
    height: 100%;
    width: auto !important;
}

.more-button {
    position: absolute;
    left: 50%;
    bottom: 20px;
    transform: translateX(-50%);
}

.owl-stage {
    min-width: 100%;
}

button:focus {
    outline: 0;
}

.page-content {
    padding: 25px;
}

.game-title {
    font-size: 36px;
    margin-bottom: 20px;
    border-bottom: 1px solid #dadada;
}

.game-image {
    width: 400px;
    display: flex;
    margin: 0 auto;
}

.owl-prev, .owl-next {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.3) !important;
    width: 40px;
    height: 80px;
    color: #FFF !important;
    font-size: 70px !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.owl-prev:hover, .owl-next:hover {
    background-color: rgba(0, 0, 0, 0.5) !important;
}

.owl-next {
    right: 0;
    left: auto;
}

.owl-prev span, .owl-next span {
    line-height: 1;
    position: absolute;
    left: 7px;
    top: -3px;
}

.owl-next span {
    left: 10px;
}

.catalog-wrapper {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.catalog-item-image {
    width: 100%;
    height: auto;
    max-width: 300px;
    margin-bottom: 15px;
}

.catalog-item {
    width: 50%;
    margin: 30px 0;
    display: flex;
    justify-content: center;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f5f5f5;
    width: 70%;
    margin: 30px 0;
    box-shadow: #ececec 0 0 3px 3px;
    padding: 10px;
    max-width: 400px;
}

.item-title {
    font-size: 46px;
    color: #636363;
    text-align: center;
    line-height: 1.2;
    margin-bottom: 20px;
}

.catalog-item-more {
    margin-top: auto;
    margin-bottom: 15px;
}

.separator {
    height: 50px;
    box-shadow: 0 3px 32px rgba(61,75,82,.16);
    background-color: #e2e2e2;
}

.owl-dots {
    display: none;
}

.news-wrapper {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.news-item-title {
    font-size: 46px;
    text-align: center;
    color: #4e4e4e;
    border-bottom: 1px solid #c7c7c7;
}

.news-item-description {
    margin: 20px 0;
}

.news-item-description p img {
    width: 400px !important;
    margin: 0 auto;
    display: flex;
}

.news-item {
    background-color: #f9f9f9;
    padding: 20px;
    margin: 20px 0;
    box-shadow: #f5f5f5 0 0 3px 3px;
}

.rss {
    width: 20px;
    margin-left: 5px;
}

#form-container {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 60%;
    justify-content: center;
    align-items: center;
}

#contact-form {
    display: flex;
    flex-direction: column;
    width: 60%;
    padding: 20px;

}

#contact-form input,
#contact-form textarea {
    margin-bottom: 20px;
}

.hidden {
    display: none;
}

#contact-form label {
    color: #f78a28;
    margin-bottom: 0;
    margin-left: 5px;
    font-size: 14px;
}

.form-header {
    font-size: 40px;
    color: #6d6d6d;
    margin-bottom: 10px;
}

.message {
    height: 100px;
    background-color: #fbfbfb;
    border: 1px solid #dadada;
    padding-left: 15px;
}

input {
    height: 40px;
    background-color: #fbfbfb;
    border: 1px solid #dadada;
    padding-left: 15px;
}

.submit-button {
    background-color: #f78a27;
    border: 1px solid #c56e1e;
    color: #FFF;
    height: 40px;
    cursor: pointer;
}

.submit-button:hover {
    background-color: #ec7f27;
}